.App {
  font-family: sans-serif;
  text-align: center;
}
.modal-wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -1;
}
.modal {
  max-width: 500px;
  width: 100%;
  /* border: 1px solid black; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}

@keyframes modalAnimation {
  from {
    transform: translate(-50%, -200%);
  }
  to {
    transform: translate(-50%, -50%);
  }
}

.modal.active {
  animation-name: modalAnimation;
  animation-duration: 0.3s;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0px auto;
}

.modal-header span {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.modal-content {
  padding: 20px;
}
